.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
}

.logoHeader {
  text-align: left;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  text-align: left;
  color: #000;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}
.logo {
  background: #fc0;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.descriptionBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.title {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: #000;
  margin-bottom: 12px;
}
.description {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
}

.btnGroup {
  height: 40px;
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
}

// .btnList {
//   display: flex;
//   gap: 8px;
// }

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table {
  margin-top: 20px;
  padding: 20px;
  border-radius: 16px;
  background: #fff;
}
.tableHeaderContainer {
  border-bottom: 1px solid rgb(233, 237, 247);
}
.tableHeader {
  text-align: start;
  padding-bottom: 20px;
  color: #8e8e93;
}

.tableRow {
  padding: 20px;
}

.fullName,
.order {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
}
