.wrapper {
  margin-top: 56px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label {
  font-size: 14px;
  font-weight: 510;
  display: flex;
  justify-content: flex-start;
}

.loginLinkBlock {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;

  p {
    font-size: 14px;
    font-weight: 510;
  }

  a {
    font-size: 14px;
    font-weight: 510;
    text-decoration: underline;
  }
}
