.elementWrapper {
    background: #F3F4FD;
    border-radius: 10px;
    height: 131px;
    min-width: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
    padding: 12px;
  }
  
  .elementText {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  .description{
    opacity: 56%;
  }
  .wrapper{
    display: flex;
    gap: 8px;
    font-size: 14px;
  }