.elementWrapper {
    background: #F3F4FD;
    border-radius: 10px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  .elementText {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  