@mixin wrapper {
  background: #f3f4fd;
  border-radius: 10px;
  height: 131px;
  min-width: 178px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  margin-top: 12px;
  padding: 12px;
  font-family: 'SF Pro', sans-serif;
  position: relative;
}

.wrapper {
  @include wrapper;
  cursor: grab;
}

.notDruggable {
  @include wrapper;
}
.title {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.description {
  opacity: 0.56;
  font-weight: 400;
  font-size: 14px;
  height: 60px;
}
.date {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.03em;
  color: #000;
}
@keyframes expand {
  0% {
    height: 0px;
  }
  100% {
    height: 131px;
  }
}

@mixin over {
  background: #fcfcff;
  border-radius: 10px;
  height: 131px;
  min-width: 178px;
  margin-top: 12px;
  animation: expand 0.3s normal;
}
.pending {
  @include over;
  border: 4px solid #e4e4e4;
}

.new {
  @include over;
  border: 4px solid #c3fffb;
}

.inProgress {
  @include over;
  border: 4px solid #c5e6ff;
}

.checking {
  @include over;
  border: 4px solid #fffba1;
}

.dispatched {
  @include over;
  border: 4px solid #ffd9a1;
}
.arrived {
  @include over;
  border: 4px solid #e6ffa1;
}

.descriptionPopUp {
  background-color: white;
  position: absolute;
  box-shadow:
    0 8px 20px -4px rgba(23, 24, 24, 0.12),
    0 3px 6px -3px rgba(23, 24, 24, 0.08);
  z-index: 21;
  min-width: 150px;
  min-height: 150px;

  border-radius: 28px;
  padding: 32px;
  width: 800px;
  display: grid;
  gap: 32px;
  grid-template-columns: 330px 1fr;
  padding: 24px;
}
.images {
  display: grid;
  grid-template-columns: repeat(5, 64px);
  grid-template-rows: 320px 64px;
  grid-template-areas:
    'bigImage bigImage bigImage bigImage bigImage'
    'smallImage1 smallImage2 smallImage3 smallImage4 smallImage5';
  row-gap: 20px;
  column-gap: 8px;
}
.bigImage {
  grid-area: bigImage;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.smallImageActive {
  border: 2px solid #fc0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: content-box;
  position: relative;
  top: -2px;
  left: -2px;
}
.popupImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.descriptionPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descriptionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 32px;
}
.orderDedline {
  border-radius: 8px;
  padding: 4px 16px;
  // background: #e6ffa1;
}

@mixin status {
  display: flex;
  padding: 8px 10px;
  border-radius: 10px;
  // border: none;
  justify-content: center;
  align-items: center;
}
.descriptionPending {
  @include status;
  background-color: #e4e4e4;
}
.descriptionNew {
  @include status;
  background-color: #c3fffb;
}
.descriptionInProgress {
  @include status;
  background-color: #c5e6ff;
}

.descriptionChecking {
  @include status;
  background-color: #fffba1;
}

.descriptionDispatched {
  @include status;
  background-color: #ffd9a1;
}
.descriptionArrived {
  @include status;
  background-color: #e6ffa1;
}

.adTitle {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 9px;
}
.tabsContainer {
  display: flex;
  gap: 16px;
}
.tabActive {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #000;
}
.tab {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  color: #8e8e93;
}
.tabDescription {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.03em;
  color: #8e8e93;
  margin: 16px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  // justify-content: space-between;
  gap: 12px;
}
.employee {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;
}
.employeeAvatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.employeeName {
  color: #686870;
}
