.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.position {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}
