.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  position: fixed;
  width: 252px;
  height: 100vh;
  top: 0;
  z-index: 10;
}
.navbarGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarHeader {
  text-align: left;
  margin: 32px;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  text-align: left;
  color: #000;
}
.navbarLogo {
  background: #fc0;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.navbarTitle {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 92%;
  color: #000;
  margin-bottom: 12px;
}
.navbarDescription {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
}
.horizontalLine {
  border-bottom: 1px solid #8e8e93;
  width: 220px;
  height: 0px;
  margin-bottom: 16px;
}

@mixin linkGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  border-left: 1px solid rgba(142, 142, 147, 1);
  margin: 20px 0;
  overflow: hidden;
}

.navbarLinkGroupRolled {
  @include linkGroup;
  height: 0;
  transition: height 0.5s;
}

.navbarLinkGroupExtended {
  @include linkGroup;
  transition: height 0.5s;
}

.navbarFooter {
  position: absolute;
  bottom: 0;
  background-color: white;
}

.navbarExtit {
  border-radius: 4px;
  width: 220px;
  height: 36px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.navbarExtitText {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-left: 12px;
}

.loginIcon{
  width: 20px;
}