.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.adsBlock {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.filterGroup {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.filterGrp {
  display: flex;
  gap: 12px;
}
