.lastName {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: 510;
  display: flex;
  justify-content: flex-start;
}
.errors {
  font-size: 14px;
  color: rgba(255, 59, 48, 1);
  text-align: start;
  margin-left: 12px;
  height: 18px;
}
